@model Bug_Tracking_System.Models.User

@{
    ViewData["BodyClass"] = "login-page";
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forgot Password</title>
</head>

<body class="login-page">
    <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
    </div>
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                        <div class="card card-plain">
                            <div class="card-header pb-0 text-start">
                                <h4 class="font-weight-bolder">Sign In</h4>
                                <p class="mb-0">Enter your email and check your email to resend password</p>
                            </div>
                            <div class="card-body">
                                <form role="form" id="forgotPassword">
                                    <div class="mb-3">
                                        <input type="text" asp-for="Email" class="form-control form-control-lg" placeholder="Enter your email here " aria-label="Email">
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" id="btnSubmit" class="btn btn-lg btn-primary btn-lg w-100 mt-2 mb-0">
                                            <span class="spinner-border spinner-border-sm d-none" id="btnLoader" role="status" aria-hidden="true"></span>
                                            Submit 
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                <p class="mb-4 text-sm mx-auto">
                                    Remember your password?
                                    <a href="~/Account/Login" class="text-primary text-gradient font-weight-bold">Sign in</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
                        <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-image: url('https://static.vecteezy.com/system/resources/previews/014/420/446/original/flat-design-forgot-password-login-illustration-vector.jpg');
          background-size: cover;">
                            @* <span class="mask bg-gradient-primary opacity-6"></span>
                            <h4 class="mt-5 text-white font-weight-bolder position-relative">"Forgot Your Password?"</h4>
                            <p class="text-white position-relative">
                                No worries! Resetting your password is quick and easy. Enter your registered email, and we'll send you instructions to securely regain access to your account.
                            </p> *@

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--   Core JS Files   -->

</body>

</html>

@section Scripts {
    <script src="~/js/Login.js"></script>
}